html {
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  user-select: none;
  background: black;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100dvh;
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.start {
  background-image: url(../images/background/homeBg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.start_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.start_box h1 {
  font-family: "Kanit", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 119.6px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  animation-name: start;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.start_btn {
  padding: 16px 60px;
  border: 1px solid #F3F3F3;
  background: linear-gradient(180deg, rgba(243, 243, 243, 0.24) 0%, rgba(243, 243, 243, 0) 100%);
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  line-height: 37.5px;
  transition: 300ms;
  animation-name: startbtn;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.start_btn:hover {
  background: white;
  color: #75452C;
}
@media (max-width: 769px) {
  .start_btn {
    font-size: 24px;
    padding: 8px 28px;
  }
}

@keyframes start {
  0% {
    transform: scale(10);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes startbtn {
  0% {
    transform: translateY(500%);
  }
  100% {
    transform: translateY(0%);
  }
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: linear-gradient(90deg, rgba(117, 69, 44, 0.5) 0%, rgba(117, 69, 44, 0) 100%);
  color: white;
  transform: translateX(0);
  transition: 500ms;
  z-index: 3;
}

.menu {
  padding: 66px 46px;
}
.menu li {
  margin-bottom: 16px;
  transition: 300ms;
}
.menu li a {
  font-size: 32px;
  font-weight: 400;
  line-height: 37.5px;
  color: aliceblue;
  padding: 5px;
}
.menu li:hover {
  transform: scale(0.9);
}

.nav.is-hiden {
  transform: translateX(-110%);
}

.cross {
  position: absolute;
  top: 44px;
  right: 0;
  cursor: pointer;
  border: none;
  padding: 15px;
  background: transparent;
  color: aliceblue;
  transition: 500ms;
}
.cross:hover {
  rotate: 90deg;
}

.arrow-down {
  position: absolute;
  right: 26px;
  bottom: 44px;
  background: transparent;
  border: none;
  transition: 500ms;
  padding: 15px;
  animation-name: arrow;
  animation-duration: 500ms;
}
.arrow-down:hover {
  transform: scale(0.9);
}
.arrow-down img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.arrow-up {
  position: absolute;
  top: 44px;
  right: 26px;
  transform: rotate(180deg);
  animation-duration: 500ms;
}
.arrow-up:hover {
  transform: scale(0.9) rotate(180deg);
}
.arrow-up img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.button {
  cursor: pointer;
  border-radius: 8px;
}

.menu_btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50px;
  transform: rotate(-90deg);
  padding: 10px;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  color: #F3F3F3;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: 300ms;
  animation-name: menutbtn;
  animation-duration: 500ms;
}
.menu_btn:hover {
  transform: scale(1.2) rotate(-90deg);
}
.menu_btn::after {
  content: " ";
  display: block;
  margin-left: 40px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #F3F3F3;
}
.menu_btn.is-open {
  display: none;
}

@keyframes menutbtn {
  0% {
    transform: translateX(-500%) rotate(0deg);
  }
  100% {
    transform: translateY(0%) rotate(-90deg);
  }
}
@keyframes arrow {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateY(0%);
  }
}
.cross {
  position: absolute;
  top: 44px;
  right: 0;
  cursor: pointer;
  border: none;
  padding: 15px;
  background: transparent;
  color: aliceblue;
  transition: 500ms;
}
.cross:hover {
  rotate: 90deg;
}

.arrow-down {
  position: absolute;
  right: 26px;
  bottom: 43px;
  background: transparent;
  border: none;
  transition: 500ms;
  padding: 15px;
}
.arrow-down:hover {
  transform: scale(0.9);
}
.arrow-down img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.button {
  cursor: pointer;
  border-radius: 8px;
}

.campingboxcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camping_box {
  position: relative;
}

.arrow-up {
  position: absolute;
  top: 44px;
  right: 44px;
  transform: rotate(180deg);
}

.card-list {
  padding-top: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1288px;
  overflow: scroll;
}
.card-list + h2 {
  margin-top: 3em;
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: clamp(28px, 8vw, 40px);
  font-weight: 400;
  line-height: 1.2;
}

.item-big-discr {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.item-big-discr li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.item-big-discr + button {
  padding: 18px 111px;
  border-radius: 8px;
  opacity: 0px;
  background: #060606;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  color: white;
  cursor: pointer;
}
.item-big-discr + button:hover {
  background: white;
  color: #060606;
}

.item-discr {
  padding: 20px 145px;
  text-align: center;
}
@media (max-width: 768px) {
  .item-discr {
    padding: 20px 10px;
    overflow: scroll;
    display: block;
  }
}
.item-discr h3 {
  font-family: Kanit;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 64px;
}

.big-discr {
  max-width: 190px;
}

.card-item {
  max-width: 394px;
  background: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.card-item:hover {
  cursor: pointer;
}
.card-item.card-open:hover .card-big {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1288px;
  justify-content: space-between;
  background: white;
  padding: 40px 20px;
  z-index: 3;
  border-radius: 8px;
}
@media (max-width: 1288px) {
  .card-item.card-open:hover .card-big {
    padding: 20px 10px;
    overflow: scroll;
    display: block;
  }
}
.card-item.card-open:hover .card-big li h3 {
  text-align: center;
}
.card-item > h3 {
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
}
.card-item > p {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
}
@media (max-width: 480px) {
  .card-item {
    padding: 20px 10px;
  }
}
@media (max-width: 375px) {
  .card-item > img {
    max-width: 300px;
  }
}

.card-big {
  display: none;
}

.about_us {
  background-image: url(../images/background/aboutUs.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_box {
  position: relative;
}

.title-about {
  position: absolute;
  right: 54px;
  bottom: 155px;
  transform: rotate(-90deg);
  font-family: "Kanit", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 119.6px;
  text-transform: uppercase;
  color: white;
}

.about-title {
  font-family: "Kanit", sans-serif;
  font-size: 183px;
  font-weight: 400;
  line-height: 0.7;
  color: white;
  z-index: 1;
  opacity: 0;
  transform: scale(10);
  pointer-events: none;
}

.start-animation {
  animation-name: aboutTitle;
  animation-duration: 1800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes aboutTitle {
  0% {
    transform: scale(10);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    right: -35%;
    bottom: 50%;
    font-size: 80px;
    transform: rotate(-90deg);
  }
}
.footer {
  background: url(../images/background/homeBg.jpg) center/cover no-repeat;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #f3f3f3;
  text-align: left;
}
.footer .container_footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 76px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.footer .wrapper {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(117, 69, 44, 0.5) 100%);
  width: 100%;
  height: 100%;
}
.footer .contact,
.footer .follow {
  flex: 1;
}
.footer .contact h3,
.footer .follow h3 {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  line-height: 35.88px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer .contact ul,
.footer .follow ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .contact li,
.footer .follow li {
  margin-bottom: 5px;
}
.footer .contact a,
.footer .follow a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.footer .contact a:hover,
.footer .follow a:hover {
  text-decoration: underline;
}
.footer .follow ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.footer .follow .adress-icon {
  fill: #f3f3f3;
  transition: 0.3s;
}
.footer .follow .adress-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.footer .logo-box {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.footer .logo-box a {
  position: relative;
  width: 75px;
  height: 75px;
}
.footer .logo-box ul {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 75px;
  height: 75px;
}
.footer .logo-box ul li {
  position: absolute;
}
.footer .logo-box ul li:nth-child(1) {
  top: -11px;
  left: 9px;
}
.footer .logo-box ul li:nth-child(2) {
  top: 10px;
  left: 12px;
}
.footer .logo-box ul li:nth-child(3) {
  top: -10px;
  left: 37px;
}
.footer .logo-box ul li:nth-child(4) {
  top: 29px;
  left: 34px;
}
.footer .logo-box ul .logo-letter {
  width: 30px;
  height: 72px;
  fill: #f3f3f3;
}
@media (max-width: 480px) {
  .footer .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
  }
  .footer .contact,
  .footer .follow,
  .footer .logo-box {
    margin-bottom: 20px;
  }
  .footer .logo-box ul {
    justify-content: center;
  }
  .footer .logo-box {
    justify-content: center;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 38, 0.5333333333);
  transition: 300ms;
  z-index: 3;
}

.modal {
  position: relative;
  padding: 64px;
  width: 100%;
  max-width: 747px;
  height: 100%;
  max-height: 626px;
  background-color: #f3f3f3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .modal {
    padding: 32px;
  }
}

.modal-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

img {
  transform: rotate(0deg);
  transition: 300ms;
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.modal-close:hover img {
  color: var(--btn-color-wite);
  background-color: var(--accent-color);
  transform: rotate(180deg);
}

.form-field {
  margin-bottom: 32px;
}

.form-field-name {
  display: flex;
  gap: 69px;
  margin-bottom: 32px;
  margin-top: 58px;
}
@media (max-width: 768px) {
  .form-field-name {
    display: block;
  }
}

.form-label {
  display: block;
}

.form-input {
  padding: 18px 48px;
  width: 100%;
  border: 1px solid #060606;
  border-radius: 8px;
  background-color: transparent;
}
.form-input:focus {
  border-color: blueviolet;
  outline: none;
}

@media (max-width: 768px) {
  [name=user-name] {
    margin-bottom: 32px;
  }
}

.form-button {
  display: block;
  margin: 0 auto;
  padding: 18px 109px;
  color: #f3f3f3;
  background-color: #060606;
  border: 1px solid #060606;
  border-radius: 8px;
  cursor: pointer;
}

.form-button:hover {
  color: #75452c;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  left: -100%;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: rotate(360);
}

.modal-thankYou {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 747px;
  max-height: 347;
  background: white;
  border-radius: 8px;
  text-align: center;
}
.modal-thankYou p {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  padding: 150px;
}/*# sourceMappingURL=main.css.map */