.about_us{
    background-image: url(../images/background/aboutUs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.about_box{
    position: relative;
}
.title-about{
    position: absolute;
    right: 54px;
    bottom: 155px;
    transform: rotate(-90deg);

    font-family: 'Kanit',sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 119.6px;
    text-transform: uppercase;
    color: white;
}
.about-title {
    font-family: 'Kanit', sans-serif;
    font-size: 183px;
    font-weight: 400;
    line-height: 0.7;
    color: white;
    z-index: 1;
    opacity: 0; 
    transform: scale(10); 
    pointer-events: none;
  }
  
  
  .start-animation {
    animation-name: aboutTitle;
    animation-duration: 1800ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes aboutTitle {
    0% {
      transform: scale(10);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      right: -35%;
      bottom: 50%;
      font-size: 80px;
      transform: rotate(-90deg);
    }
  }
  