.about_us{
    background-image: url(../images/background/aboutUs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.about_box{
    position: relative;
}
