
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;

    background-image: url(../images/background/homeBg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wrapper{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(117, 69, 44, 0.5) 100%);
}
